<h1 style="color:red">This is my about page</h1>
	<b style="color:blue">Name:</b>Geraldine Sebasti</br>
	<b style="color:blue">Phone No:</b>8807661672</br>
	<b style="color:blue">Place:</b>Chennai</b>