<center><h1 style="color:red"><u>This is my contact us page</u></h1></center>
<b style="color:blue"><u>Name:</u></b><label style="color:green">Geraldine Sebasti</label></br>
	<b style="color:blue"><u>Phone No:</u></b><label style="color:green">8807661672</label></br>
	<b style="color:blue"><u>Place:</u></b><label style="color:green">Chennai</label></b>
	<body style="background-color:burlywood"></body>
